body {
    font-size: 14px;
}

#container {
    display:table;
    width:100%;
    height:100%;
}

h1 {
    font-size:14px;
}

#menu {
    display:table-cell;
    width: 150px;
    background-color:#e2e2e2;
    padding:20px;
}

#menu.collapsed {
    width:20px;
}

#menu .logo {
    cursor: pointer;
}

#menu .logo-mini {
    display: none;
    cursor: pointer;
}

#menu.collapsed .logo-mini {
    display: block;
}

#menu.collapsed .logo,
#menu.collapsed h2,
#menu.collapsed .topics {
    display:none;
}

#menu .topics {
    list-style: none;
    margin:0;
    padding:0;
}

#menu .topics li {
    padding-bottom:5px;
}

#page {
    display: table-cell;
    background-color: #f2f2f2;
    padding:20px;
}

h3 {
    margin:0;
}

.deck {
    border:0;
    border-bottom:1px solid #e2e2e2;
    background: transparent;
    width:100%;
    line-height: 50px;
}

.cards {
    list-style: none;
    margin:0;
    padding:0;
    width:100%;
}

.card {
    padding:0px;
    border:1px solid #DDDDDD;
    background-color: #FFFFFF;
    color:#999999;
    clear: both;
    margin-bottom:20px;
    box-shadow: 1px 2px 5px #DDDDDD;
}

.card .question,
.card .answer {
    padding:20px;
}

.card .question {
    background-color: #333333;
}

.card .answer-question {
    font-weight: bold;
    border-bottom:1px solid #DDDDDD;
    display: block;
    padding-bottom:15px;
}

.card .number {
    color:#AAAAAA;
    font-weight: bold;
    display: inline-block;
    float: right;
}

.card .flip {
    border:0;
    width:100%;
    padding:10px;
    background-color: #f2f2f2;
}

.hidden {
    display:none;
}

.minimized .question,
.minimized .answer, 
.minimized .flip {
    display:none;
}
