html,
body {
    font-size: 10px;
}

#container {
    display:table;
    width:100%;
    height:100%;
}

#menu {
    display:table-cell;
    width: 200px;
    background-color:#333333;
    color:#CCCCCC;
    padding:0;
    text-align: right;
    vertical-align: top;
}

#menu i {
    display: inline-block;
    width:50px;
    text-align: center;
    color: #777777;
    text-transform: uppercase;
    font-size: 2rem;
}

#menu a:hover i {
    color:#FFFFFF;
}

#menu.collapsed {
    width:50px;
}

#menu .logo {
    cursor: pointer;
    border-bottom:1px solid #666666;
    margin:0;
    padding:1.5rem 0;
    font-size: 1.85rem;
}

#menu .logo-mini {
    display: none;
    cursor: pointer;
    margin:0;
    padding:1.5rem 0;
}

#menu.collapsed .logo-mini {
    display: block;
}

#menu.collapsed .logo,
#menu.collapsed h2,
#menu.collapsed .topics {
    display:none;
}

#menu .topics {
    list-style: none;
    padding:0;
}

#menu .topics li {
    padding-bottom:5px;
}

#menu a {
    color:#888888;
    text-decoration: none;
    margin-right:20px;
}

#menu a:hover {
    color:#FFFFFF;
}

#menu .topic {
    font-size: 1.2rem;
    line-height: 2.4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#page {
    display: table-cell;
    background-color: #f2f2f2;
    padding:20px;
}

h2 {
    margin:0;
    font-size: 2rem;
    color:#999999;
    text-transform: uppercase;
}

.deck {
    border:0;
    border-bottom:1px solid #e2e2e2;
    background: transparent;
    width:100%;
    line-height: 50px;
}

h3 {
    margin:0;
    padding:0;
}

h3 button {
    font-size: 1.6rem;
    text-align: left;
    font-weight: normal;
}

.cards {
    list-style: none;
    margin:0;
    padding:0;
    width:100%;
}

.card {
    padding:0px;
    border:1px solid #DDDDDD;
    background-color: #FFFFFF;
    color:#999999;
    clear: both;
    margin-bottom:1rem;
    box-shadow: 1px 2px 5px #DDDDDD;
    font-size: 1.4rem;
    position: relative;
}

.card .question,
.card .answer {
    padding:20px;
}

.card .question {
    background-color: #333333;
}

.card .answer-question {
    font-weight: bold;
    border-bottom:1px solid #DDDDDD;
    display: block;
    padding-bottom:15px;
}

.card .flip {
    background: transparent;
    border: 0;
    color:#AAAAAA;
    display: block;
    font-weight: bold;
    height:50px;
    line-height: 5rem;
    margin:0;
    padding:0;
    position: absolute;
    right:0;
    text-align: center;
    top:0;
    width:50px;
}

.hidden {
    display:none;
}

.minimized .question,
.minimized .answer, 
.minimized .flip {
    display:none;
}
